<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">

<link rel="icon" type="image/png" href="/static/images/text-glitch.jpg">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<link href="/static/styles/main.css" rel="stylesheet">


<title>Textbook request: Liberate from corporate greed</title>
<meta property="og:title" content="Book Request">
<meta name="twitter:title" content="Book Request">


<meta property="og:image" content="static/textbooks.png">
<meta property="twitter:card" content="summary">

        <link href="/static/styles/home.css" rel="stylesheet" type="text/css"/>
    </head>
    <body style=background-color:#1b1b1b>
        <div id="content">
    <main class="home">
    <div class="jumbotron">
        <h2 style=color:#FEFEFE>FAQs</h2>
    </div>
        <div class="section feature alt" style=background-color:#1b1b1b>
        <div>
            <div>
                <h1 style=color:#FEFEFE>I got no links. What do I do now?</h1>
                <p style=color:#c7c7c7><strong>Well your book probably doesn't exist as an electronic version. You can check for previous editions, or send a request by clicking this link. Before you do send that request, search on amazon for your book. If there's no Kindle/Electronic version, then it most likely does not exit. You'll get a timely reply if your books exists or not.</strong></p>
            </div>
        </div>
        </div>

        <div class="section feature alt" style=background-color:#1b1b1b>
        <div>
            <div>
                <h1 style=color:#FEFEFE>I need some kind of access code that my professor provided. Can I get that?</h1>
                <p style=color:#c7c7c7><strong>No. Your professor is a lazy asshole.</strong></p>
            </div>
        </div>
        </div>

        <div class="section feature alt" style=background-color:#1b1b1b>
        <div>
            <div>
                <h1 style=color:#FEFEFE>I got a link but it has a weird extension like .djvu or .epub and I just want a PDF. What now?</h1>
                <p style=color:#c7c7c7><strong>You can try another of the links provided in the application. If that yields no avail, there is always a software to read your file extension. If you simple search google, you'll get some results to play around with. For example, I would search "software to read .epub files". If you really want it in another extension, there are extension converters online. Simple search something like ".epub to .pdf converter". Beware though, it might not come out as pretty as the original.</strong></p>
            </div>
        </div>
        </div>

        <div class="section feature alt" style=background-color:#1b1b1b>
        <div>
            <div>
                <h1 style=color:#FEFEFE>What purpose does this serve you? What do you get out of it?</h1>
                <p style=color:#c7c7c7><strong>I just think you shouldn't have to pay more money on top of your tuition, unless absolutely necessary. The struggle is real out here.</strong></p>
            </div>
        </div>
        </div>


    </main>
        </div>

        <footer style=background-color:#1b1b1b>
    <ul class="section links">
    </ul>
    <div class="section">
        <p class="credit" style="color: #e2e2e2">Developed by <a href="https://github.com/sagyakwa">Samuel Agyakwa</a>.</p>
    </div>
</footer>
        <script src="//code.jquery.com/jquery.min.js"></script>
    </body>
</html>