<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Textbook Request</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/static/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>

    <style>
        body{
            background-image: url(/static/images/Books.jpg) !important;
        }
    </style>

    <div class="main">

        <div class="container">
            <form method="POST" class="request-form" id="appointment-form">
                <h2>Textbook Request</h2>
                <div class="form-group-1">
                    <input type="name" name="name" id="name" placeholder="Your Name (Required)" required />
                    <input type="email" name="email" id="email" placeholder="Your Email (Required)" required />
                    <input type="textbook" name="textbook" id="text" placeholder="Textbook and Edition (Required)" required />
                    <input type="author" name="author" id="author" placeholder="Author (Required)" required />
                    <input type="ISBN" name="ISBN" id="ISBN" placeholder="ISBN number (Required)" required />
                    <div class="select-list">
                        <select name="course_type" id="course_type">
                            <option slected value="Major Category">Major Category</option>
                            <option value="STEM">STEM</option>
                            <option value="Business">Business</option>
                            <option value="Health and Medicine">Health and Medicine</option>
                            <option value="Multi-/Interdisciplinary Studies">Multi-/Interdisciplinary Studies</option>
                            <option value="Public and Social Services">Public and Social Services</option>
                            <option value="Social Sciences">Social Sciences</option>
                            <option value="Arts and Humanities">Arts and Humanities</option>
                            <option value="Trades and Personal Services">Trades and Personal Services</option>
                        </select>
                    </div>
                </div>

                <div class="form-check">
                    <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                    <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree to the  <a href="https://termsfeed.com/terms-conditions/cd75348662a84786054a273a67ba1282" class="term-service" target="_blank">Terms and Conditions</a></label>
                </div>
                <div class="form-submit">
                    <input type="submit" name="submit" id="submit" class="submit" value="Request Textbook" />
                </div>
            </form>
        </div>

    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>