<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Textbook Request</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/static/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>

    <style>
        body{
            background-image: url(/static/images/Books.jpg) !important;
        }
    </style>

    <div class="main">

        <div class="container">
            <form method="POST" class="request-form" id="appointment-form">
                <h3>
                    Your request has been submitted<br>
                    Note: Not all books have an E-book equivalent. If your book<br>
                    is not available electronically, there's nothing anyone can do.<br>
                    If your book is just hard to find for free, but exists on Amazon,<br>
                    You will receive an email so we can meet in person then I'll work my magic.<br>

                    Also, access codes need to be purchased. Sorry your Professor is a cunt I guess<br>
                    Now go study or whatever the fuck it is you were doing.
                </h3>
            </form>
        </div>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>